<ion-header>
    <ion-toolbar color="success">
      <ion-title>New Item</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <form [formGroup]="new_item_form" (submit)="createItem(new_item_form.value)">
        <ion-item>
            <ion-label color="primary" position="floating">name</ion-label>
            <ion-input type="text" formControlName="name" required></ion-input>
          </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Title</ion-label>
        <ion-input type="text" formControlName="title" required></ion-input>
      </ion-item>
      

         <ion-item>
              <ion-label color="primary" position="floating">image Url</ion-label>
              <ion-input type="text" formControlName="imageurl" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" position="floating">location</ion-label>
            <ion-input type="text" formControlName="location" required></ion-input>
      </ion-item>
      
        <ion-item>
        <ion-label color="primary" position="floating">rate</ion-label>
        <ion-input type="text" formControlName="rate" required></ion-input>
      </ion-item>
      <ion-button class="submit-btn" expand="block" type="submit" color="success" [disabled]="!new_item_form.valid">Create</ion-button>

    </form>
  
  </ion-content>
  